{% extends "base.html" %}
{% load static i18n %}
{% block title %}Page not found{% endblock %}

{% block content %}
<!-- Intro -->
<div id="wrapper">
                    <section class="intro">
                        <header>
                            <h1>Darpan Deva</h1>
                            <h2>Terapeuta Tântrico</h2>
                            <ul class="actions">
                                <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                            </ul>
                        </header>
                        <div class="content">
                            <span class="image fill" data-position="center"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
                        </div>
                    </section>
                    <section>
                    
<h1>Page not found</h1>

<p>This is not the page you were looking for.</p>

</section>
</div>
{% endblock content %}
