{% load static i18n %}
<!DOCTYPE HTML>
<html>
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40422916-6"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-40422916-6');
        </script>

        
        
        <title>{% block title %}Darpan Deva - Terapeuta Tântrico{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="tantra, terapia tântrica, massagem tântrica" />
        
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/project.css' %}" />
        
        <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">
    </head>
    
    <body class="is-preload">
        <div class="container">
            
            
            
            {% block content %}
              
            {% endblock content %}
            
        </div> <!-- /container -->
        
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        {% block javascript %}
        <!-- Scripts -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'js/browser.min.js' %}"></script>
            <script src="{% static 'js/breakpoints.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock javascript %}
        
        
    </body>
</html>
