$main-color: #bf49fc;
//$main-gradient2: linear-gradient(to bottom,  rgba(200,126,184,1) 0%,rgba(162,147,255,1) 33%,rgba(165,87,142,1) 71%,rgba(216,106,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//$main-gradient: linear-gradient(180deg,  rgba(0, 207, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(225, 99, 171, 0.75) 15%,rgba(120, 255, 243, 0.75) 50%,rgba(250, 255, 120, 0.75) 60%, rgba(246, 206, 235, 0.75) 75%, rgba(110, 0, 255, 0.48) 100%);
$main-gradient: linear-gradient(180deg, rgba(240, 186, 255, 0) 0%, rgb(240, 186, 255) 5%, rgba(255, 241, 164, 0.88) 50%,rgba(207, 242, 255, 0.9) 90%, rgba(106, 156, 249, 0) 100%);
$mobile-gradient: linear-gradient(180deg, rgba(240, 186, 255, 0) 0%, rgba(166, 185, 235, 0.95) 5%, rgba(253, 172, 226, 0.95) 90%, rgba(106, 156, 249, 0) 100%);


@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
/*@import 'fontawesome-all.min.css';*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800|Indie+Flower:400&display=swap');

/*
	Paradigm Shift by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Breakpoints.

	@include breakpoints((
		default:   (1681px,   null     ),
		xlarge:    (1281px,   1920px   ),
		large:     (1153px,   1280px   ),
		medium:    (737px,    1152px   ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/arrow';
	@import 'components/gallery';
	@import 'components/feature-icons';
	@import 'components/whatsapp';

// Layout.

	@import 'layout/wrapper';



canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-99;
}
