.botao-whatsapp {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  background-color: #25d366;
  font-weight: bold;
  padding: 1rem 1rem;
  border-radius: 3px;
}

.botao-whatsapp:hover {
  background-color: #21bd5c;
}

.botao-whatsapp:focus {
  background-color: #1a9247;
}


.botao-telegram {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  background-color: #32afed;
  font-weight: bold;
  padding: 1rem 1rem;
  border-radius: 3px;
}

.botao-telegram:hover {
  background-color: #0088cc;
}

.botao-telegram:focus {
  background-color: #0099cc;
}


canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-99;
}
