[Unit]
Description=Gunicorn daemon for Django Project
Before=nginx.service
After=network.target


[Service]
WorkingDirectory=/home/django/darpandeva.com
ExecStart=/home/django/.virtualenvs/darpan/bin/gunicorn \
--name=darpan \
--pythonpath=/home/django/darpandeva.com/darpan/ \
--bind unix:/home/django/gunicorn-darpan.socket  \
--config /etc/gunicorn.d/gunicorn.py config.wsgi:application

Restart=always
SyslogIdentifier=gunicorn-darpan
User=django
Group=django


[Install]
WantedBy=multi-user.target
